/*css reset*/
* {
  margin: 0;
  padding: 0;
}
/*font*/
@font-face {
  font-family: "Billabong";
  src: url("fonts/FontsFree-Net-Billabong.ttf") format("truetype");
}
/*scroll behaviour*/
html{
    scroll-behavior: smooth;
}

/*homepage design*/
/*navbar*/
.navbar {
  position: fixed;
  top: 0;
}
/*navigation list*/
.navlist {
  padding: 0.2em 0.1em;
  list-style: none;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 1px #e8e8e8;
}
/*navigation menu*/
.navitem {
  padding: 0 0.1em;
}

/*navigation icons*/
.navitem a img {
  height: 7vh;
  width: 8vw;
}
/*message icon in navbar*/
#message{
  height: 4.7vh;
  width: 7.8vw;
}

/*search icon*/
#search {
  padding-right: 0.3em;
}
/*yaarme log*/
.logo {
  font-size: 8vw;
  font-weight: 600;
  font-family: "Billabong";
  padding: 0 2.5em;
  letter-spacing: 2px;
}
/*contentbar*/
.contentbar {
  max-height: 83vh;
  overflow-y: scroll;
  margin-top: 4.1em;
  margin-top: 8vmax;
  margin-bottom: 2vmax;
}
/*Post container*/
.contents {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.3em;
}
/*user info container*/
.user-info {
  display: flex;
  align-items: center;
}
/*username*/
.username {
  font-family: sans-serif;
  font-size: 2.5vmax;
  align-self: center;
}
/*user display picture*/
.user-info img {
  height: 2em;
  width: 2em;
  padding: 0 0.2em;
  border-radius: 50%;
}
/*user post*/
.user-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.4em 0;
}
/*user post image*/
.user-post img {
  max-height: 50vh;
  max-width: 99vw;
}
/*username under post*/
.user-post span {
  align-self: baseline;
}
/*post caption*/
.caption {
  font-size: 2vmax;
  font-family: sans-serif;
}
/*menubar*/
.menubar {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
}
/*menubar navigations*/
.menubar .navlist {
  box-shadow: 0px -1px 1px 1px #e8e8e8;
  justify-content: space-evenly;
}

/*profile page design*/
/*used navbar,navlist,logo,contentbar,contents from above.*/
/*user dp with details*/
.userdata{
  height: 20vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/*user dp*/
.userdata img{
  height: 15vh;
  width: 27vw;
  border-radius: 50%;
}
/*username*/
.userdata .username{
  font-weight: 700;
}
/*for .contents*/
.dir{
  flex-direction: row;
}
/*for posts following and followers*/
.number-data{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*for posts following and followers*/
.pff{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: serif;
  font-size: 2.5vmax;
  padding: 0 0.5em;
}
/*for posts following and followers*/
.number{
  font-weight: 700;
}

/* for showing posts inside the contentbar*/
.dir-2{
  flex-direction: column;
}

/***likepage design***/
/*used navbar, contentbar, user-info, username, content from above*/
.weight{
  font-weight: 700;
  padding: 0 0.5em;
}
.my-2{
  margin: 0.7em 0;
}

/*****post page design****/
/*used navbar, navlist,navitem,contentbar,heading from above*/
/*main post container*/
.post-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh 2vw;
    height: 33vh;
}
/*heading inside post*/
.post-info .heading{
  font-size: 3vmax;
}
/*icon inside post*/
.post-info img{
  height: 40px;
}

/****video page*****/
.reel{
  padding: 0;
}
.justify{
  justify-content: space-around;
  align-items: center;
}

/***search style**/
/*search box style*/
.searchbox{
  border-radius: 6px;
  align-self: center;
  padding: 0.4em 0.6em;
  border: none;
  background-color: #e8e8e8;
  font-size: 2.5vmax;
  font-family: sans-serif;
  color: #000000;
  outline: none;
}

.searchpage .contentbar{
  max-height: 10vh;
}

/**messagebox all previous design used***/